@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Karla:ital,wght@0,200..800;1,200..800&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-serif;
}


/* Animated background wipe effect for animatedbutton */
.group\/button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #86efac; /* Tailwind green-300 */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
  z-index: 0;
}

.group\/button:hover::before {
  transform: scaleX(1);
}
/* for activity button */
.group\/activity::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #86efac; /* Tailwind green-300 */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
  z-index: 0;
}

.group\/activity:hover::before {
  transform: scaleX(1);
}

/* Join button */
/* for activity button */
.group\/join::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(101, 84, 84); /* Tailwind green-300 */
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
  z-index: 0;
}

.group\/join:hover::before {
  transform: scaleX(1);
}
/* For desktop navlinks */
.nav-link::after {
  content: "";
  position: absolute;
  bottom: -25px; /* Pushes the border to the bottom of the navbar */
  left: 0;
  width: 0%;
  height: 3px;
  background-color: #16a34a;
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}
/* carousel  */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* For Out team section for home page */
.center-div {
  position: relative;
  z-index: 40;
}

.left-video,
.right-video {
  position: absolute;
  z-index: 10;
}

.left-video {
  top: 25%;
  left: 0;
}

.right-video {
  top: -10px;
  right: 0;
}
